@model Nop.Plugin.Payments.Dpo.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentDpo" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @Html.Raw(T("Plugins.Payments.Dpo.Instructions"))

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSSL_OverrideForStore" asp-input="UseSSL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSSL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSSL" />
                        <span asp-validation-for="UseSSL"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CompanyToken_OverrideForStore" asp-input="CompanyToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CompanyToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CompanyToken" />
                        <span asp-validation-for="CompanyToken"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ServiceType_OverrideForStore" asp-input="ServiceType" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ServiceType" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ServiceType" />
                        <span asp-validation-for="ServiceType"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>